@model CodeShare.Core.Project

@{
    ViewBag.Title = "SourceCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-1"><img height="80" width="80" style="padding-top:5px" src="@Model.LogoUrl" /></div>
    <div class="col-md-11">
        <h2>@Model.Name</h2>
        <h5>@Model.QuickDescription</h5>
    </div>
</div>

<br>
<p>
    @Html.ActionLink("Home", "Home", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Source Code", "SourceCode", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Downloads", "Download", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Team", "Team", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Issue Tracker", "IssueTracker", "Project", new { id = @Model.Id }, null)
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceUrl)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "SourceCodeEdit", new { id = Model.Id })
</p>

<a href="~/Wireframes/source.code.png" target="_blank">Wireframe of this page</a>
