@model CodeShare.Core.Project

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-1"><img height="80" width="80" style="padding-top:5px" src="@Model.LogoUrl" /></div>
    <div class="col-md-11">
        <h2>@Model.Name</h2>
        <h5>@Model.QuickDescription</h5>
    </div>
</div>

<br>
<p>
    @Html.ActionLink("Home", "Home", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Source Code", "SourceCode", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Downloads", "Download", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Team", "Team", "Project", new { id = @Model.Id }, null) |
    @Html.ActionLink("Issue Tracker", "IssueTracker", "Project", new { id = @Model.Id }, null)
</p>
<div>
    <hr />

    <h4>Team</h4>
    <br>
    <p>Work in progress!</p>
</div>

<a href="~/Wireframes/people.png" target="_blank">Wireframe of this page</a><br>
<a href="~/Wireframes/people.request.png" target="_blank">Request Wireframe</a>
